{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "home page" %}
{% endblock page_title %}


{% block content %}
    <!-- Mobile Header -->
    <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
            <div class="mobile-site-title"> {% trans "sepide mahzon" %}</div>
        </div>

        <a class="menu-toggle mobile-visible">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- /Mobile Header -->
     

    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">

    <!-- Home Subpage -->
    <section class="pt-page" data-id="home">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="photo">
                            <img src="{% static "images/photo.png" %}" alt="">
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="title-block">
                            <h1> {% trans "sepide mahzon" %}</h1>
                            <div class="owl-carousel text-rotation">                                    
                                <div class="item">
                                    <div class="sp-subtitle">{% trans "hair transplant" %}</div>
                                </div>
                                <div class="item">
                                    <div class="sp-subtitle">{% trans "stop hair loss" %}</div>
                                </div>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="#"><i class="fa fa-telegram"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="about-me">
                            <div class="block-title">
                                <h3>{% trans "about " %} <span>{% trans "me" %}</span></h3>
                            </div>
                            <p>{% trans "description about me" %}</p>
                        </div>
                        {% comment %} <div class="download-resume">
                            <a href="" class="btn btn-secondary">دریافت رزومه</a>
                        </div> {% endcomment %}
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <ul class="info-list">
                            <li><span class="title">{% trans "birth date" %}</span> <span class="value">1366</span></li>
                            <li><span class="title">{% trans "email" %}</span> <span class="value ltr_text"><a href="mailto:email@example.com">Sepidehmahzoon1@gmail.com</a></span></li>
                            <li><span class="title">{% trans "phone number whats app" %}</span> <span class="value ltr_text">090543724225</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Home Subpage -->
{% endblock content %}