{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "home page" %}
{% endblock page_title %}


{% block content %}
    <!-- Mobile Header -->
    <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
            <div class="mobile-site-title"> {% trans "sepide mahzon" %}</div>
        </div>

        <a class="menu-toggle mobile-visible">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- /Mobile Header -->
     

    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">

    <!-- Home Subpage -->
    <section class="pt-page" data-id="home">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="photo">
                            <img src="{% static "images/photo1.png" %}" alt="">
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="title-block">
                            <h1> {% trans "sepide mahzon" %}</h1>
                            <div class="owl-carousel text-rotation">                                    
                                <div class="item">
                                    <div class="sp-subtitle">{% trans "hair transplant" %}</div>
                                </div>
                                <div class="item">
                                    <div class="sp-subtitle">{% trans "stop hair loss" %}</div>
                                </div>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="#"><i class="fa fa-telegram"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="about-me">
                            <div class="block-title">
                                <h3>{% trans "about " %} <span>{% trans "me" %}</span></h3>
                            </div>
                            <p>{% trans "description about me" %}</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <ul class="info-list">
                            <li><span class="title">{% trans "birth date" %}</span> <span class="value">1366</span></li>
                            <li><span class="title">{% trans "email" %}</span> <span class="value ltr_text"><a href="mailto:email@example.com">Sepidehmahzoon1@gmail.com</a></span></li>
                            <li><span class="title">{% trans "phone number whats app" %}</span> <span class="value ltr_text">090543724225</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Home Subpage -->
    <!-- Portfolio Subpage -->
        <section class="pt-page" data-id="portfolio">
        <div class="section-inner custom-page-content">
            <div class="page-header color-1">
                <h2>{% trans "portfolio" %}</h2>
            </div>
            <div class="page-content">

                <!-- Portfolio Content -->
                <div class="portfolio-content">

                    <!-- Portfolio filter -->
                    <ul id="portfolio_filters" class="portfolio-filters">
                        <li>
                            <a class="filter btn btn-sm btn-link" data-group="illustration">{% trans "image" %}</a>
                        </li>
                      
                    </ul>
                    <!-- End of Portfolio filter -->

                    <!-- Portfolio Grid -->
                    <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                        <!-- Portfolio Item 3 -->
                         {% for item in portfolio %}
                            <figure class="item" data-groups='["all","illustration"]'>
                                <a href="{{item.image.url}}" class="lightbox" title="{% trans "image name" %}">
                                    <img src="{{item.image.url}}" alt="">
                                    <div>
                                        <h5 class="name">{{item.name_customer}}</h5>
                                        <small>{% trans "image" %}</small>
                                        <i class="fa fa-image"></i>
                                    </div>
                                </a>
                            </figure>
                            <!-- /Portfolio Item 3 -->
                         {% endfor %}
                    </div>
                    <!-- /Portfolio Grid -->

                </div>
                <!-- /Portfolio Content -->
            </div>
        </div>
    </section>
    <!-- /Portfolio Subpage -->
    <!-- Contact Subpage -->
        <section class="pt-page" data-id="contact">
        <div class="section-inner custom-page-content">
            <div class="page-header color-1">
                <h2>{% trans "call" %}</h2>
            </div>
            <div class="page-content">

                <div class="row">


                    <div class="col-sm-6 col-md-6">
                        <div class="block-title">
                            <h3><span>{% trans "call" %}</span> {% trans "with me" %}</h3>
                        </div>
                        <form method="POST" action="{% url "home:home" %}">
                            {% csrf_token %}
                            <div class="messages"></div>

                            <div class="controls">
                                <div class="form-group form-group-with-icon">
                                    <i class="fa fa-user"></i>
                                    <label>{% trans "full name" %}</label>
                                    <input id="form_name" type="text" name="full_name" class="form-control" placeholder required="required" data-error={% trans "enter full name is required" %}>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                    <i class="fa fa-phone"></i>
                                    <label>{% trans "phone number" %}</label>
                                    <input id="form_phone_number" type="text" name="phone_number" class="form-control" placeholder required="required" dir="ltr" data-error={% trans "enter phone number is required" %}>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                    <i class="fa fa-comment"></i>
                                    <label>{% trans "your message for me" %}  ...</label>
                                    <textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error={% trans "enter your message" %}></textarea>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <!-- <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div> -->

                                <button type="submit">{% trans "send message" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Subpage -->

{% endblock content %}