{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "home page" %}
{% endblock page_title %}


{% block content %}
    <!-- Mobile Header -->
    <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
            <div class="mobile-site-title"> {% trans "sepide mahzon" %}</div>
        </div>

        <a class="menu-toggle mobile-visible">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- /Mobile Header -->
     

    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">

    <!-- Home Subpage -->
    <section class="pt-page" data-id="home">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="photo">
                            <img src="{% static "images/photo.png" %}" alt="">
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="title-block">
                            <h1> {% trans "sepide mahzon" %}</h1>
                            <div class="owl-carousel text-rotation">                                    
                                <div class="item">
                                    <div class="sp-subtitle">طراح وب</div>
                                </div>
                                <div class="item">
                                    <div class="sp-subtitle">طراح رابط کاربری</div>
                                </div>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="#"><i class="fa fa-telegram"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="about-me">
                            <div class="block-title">
                                <h3>درباره <span>من</span></h3>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>
                        <div class="download-resume">
                            <a href="" class="btn btn-secondary">دریافت رزومه</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <ul class="info-list">
                            <li><span class="title">سن</span> <span class="value">29</span></li>
                            <li><span class="title">محل سکونت</span> <span class="value">تهران</span></li>
                            <li><span class="title">آدرس</span> <span class="value">خیابان نیایش، جنب پاساژ اطلس</span></li>
                            <li><span class="title">ایمیل</span> <span class="value ltr_text"><a href="mailto:email@example.com">email@example.com</a></span></li>
                            <li><span class="title">تلفن</span> <span class="value ltr_text">+0123 123 456 789</span></li>
                            <li><span class="title">وضعیت</span> <span class="value available">آماده</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Home Subpage -->
{% endblock content %}